.button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.button-default {
    background-color: #054273;
    color: #ffffff;
    border: none;
}
.button-default:hover {
    background-color: #042c55;
  }
.button-ghost {
    background: none;
    color: #054273;
    border: 1px solid #054273;
}